h1 Hello, #{current_user.name}

= render 'admin' if current_user.is_admin?
= render 'teacher' if current_user.is_teacher?
= render 'student' if current_user.is_student?

= link_to 'Sign out', sign_out_path, data: { turbo_method: :delete }
