$green-color: #3ac162;
$red-color: #dc3545;
$danger: $red-color;
$alert-link-success: #198754;

@import "theme_default/theme";

body.sign-up {
    form {
        input[type="submit"] {
            background-color: $green-color;
            border: 0;
            padding: 10px 35px;
            color: #ff;
            transition: 0.4s;
            border-radius: 5px;

            &:hover {
                background-color: $green-color;
            }
        }
    }
}

form {
    .is-invalid {
        a {
            color: $danger;
        }
    }

    .form-check-input[type="checkbox"]:checked {
        background-color: $green-color;
        border-color: $green-color;
    }
}

.alert {
    &.alert-success {
        a {
            color: $alert-link-success;
        }
    }
}
